html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  background-image: linear-gradient(to top, rgb(242, 255, 0), rgb(22, 236, 47), rgb(61, 206, 4));
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  width:100%;
  position:fixed;
  z-index: 100000;
 
  /*grid-area: header;*/
  height:60px;
  display:flex;
  justify-content:space-between;
  background-color: #203040;
  align-items:center;
}
/* side menu styling */
.sidemenu{
  display:flex;
  flex-direction:row;
 
}
.sidemenu i{
  position:flex-start;
  font-size:22px;
  margin-top:1rem;
  max-height:100px;
  overflow:hidden;
}


/*//home slider*/
.homebanner{
  margin-top:20px;
  width:100%;
}
.homeslide{
  display:flex;
  flex-direction:column;
}
.slide{
  flex:1;
  float:right;
}
/*.categories{
  margin-top:80px;
  background-color:#cfe7d0;
  flex:2;
  float: Left;
}*/



main {
  grid-area: main;
  padding: 1rem;
 
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
/* Common */
h1 {
  
  font-size: 19px;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #b0b435;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
 
  border: 0.1rem #b0b435 solid;
}
button i.danger{
  color: #a02020;
}
button.primary {
  background-color: #00ff0d;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
header i{
  font-size:20px;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.brand img{
 object-fit: cover;
  padding:0;
  margin:0;
  width: 100px !important;
  height: 100px !important;
}
.badge {
  background-color: #dbdf0c;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.row.center {
  justify-content: space-around;
  margin:0;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 1 1 30rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
 
  height: 100%;
  margin-top:-20px;
  background-color: blue;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}

aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  
  overflow: hidden;
  align-items:center;
  font-size: 2rem;
  padding: 0.2rem 0.5rem;
  margin-top: 1px ;
  border:none;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #b0b435;
}
.sidebarIsOpen ul{
  height:100%;
  background-color:#f0f0f0;

}
aside ul {
  margin-top:80px;
  padding: 0;
  list-style: none;
}

button.close-sidebar {
  position:flex-end;
  padding: 0.3rem 0.8rem;
}
 /*.categories .categoriestop li{
  display:flex;
  justify-content:space-between;
}*/
/*styling homepage*/
.column {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  float: left;
  width:100%;
  margin:0;
  padding: 10px;
  height: 300px; 
}
.column:after {
  content: "";
  display: table;
  clear: both;
}

.column .centre{
  width: 100%;
  /*flex:2;*/
}


.hero-image{ 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./order.jpg");
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;position: relative;
}
.hero-image:hover{
  color: green;
  cursor: pointer;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

/*end of homepage sytuling*/
/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 100%;
  width: 100px;
  object-fit: cover;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}
img.medium {
  object-fit: cover;
  max-width: 29rem;
  width: 100%;
}
img.large {
  object-fit: cover;
  max-width: 480px;
  height:280px;
}

/* Card */
.card-product{
  height: 300px;
  width: 250px;
  border: 2px #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  color:#111;
  margin: 1rem;
}
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5em;
  color:#111;
  margin: 0.1em;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  color:#dbe72e;
  background-color: #203040;
  padding: 0.5rem;
  border-radius: 3px;
  
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
footer a {
  color:#fff;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  margin-right:20px;
}
.dropdown-content {
  transition: 05s;
  position: absolute;
  display: none;
  right: 0;
  min-width: 18px;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  overflow:hidden;
  margin-top: 0.1rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
 
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #1ee21e;
  color: #1ee21e;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}


/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  width:350px;
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #0c0529 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}

/* Chatbox */
.chatbox {
  z-index:10000;
  color: #69e97e;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
}
.chatbox button:hover {
  font-size: 20px;
  color: #b0b435;
  transition: all 0.5rem;
  transition-delay: 0s;
}
.chatbox li {
  margin-bottom: 1rem;
}

.chatbox input {
  width: calc(100% - 9rem);
}

.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #00ff0d;
}
.support-users li.selected {
  background-color: #c0c0c0;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}


/* media querrries */

@media screen and (max-width: 740px){
  
  /* homepage columns */
  .column .centere{
    max-width:100%;
    height:200px;
  }
  .hero-image{ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./calltorder.jpg");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
  .brand img {
    position:flex-start;
    width: 60px !important;
    height: 60px !important;
  }
  header{
    height:40px;
    font-size:18px;
  }
  h1,p,li,strong{
    font-size:18px;
  }
  
  button.open-sidebar {
    font-size: 10px;
    height:100%;
    border:none;
  }
  .search button {
   font-size:2px;
   color:#111;
  }
  .search input {
    width:100px;
    padding:2px;
  }
  .card {
    margin: 1rem;
  }
  .card-body {
    padding: 1rem;
  }
  .card-body > * {
    margin-bottom: 0.5rem;
  }
  .price {
    font-size: 2rem;
    color:#dbe72e;
    background-color: #203040;
    padding: 0.5rem;
    border-radius: 3px;
    
  }
 
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 100%;
  /*width: 100px;*/
  object-fit: cover;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}

img.large {
  object-fit: scale-down;
  width: 100%;
}
}




.heading {
  font-size: 1.7rem;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.heading h5 {
  font-weight: 500;
}